.carousel-item img {
  object-fit: contain;
  width: 100%;
}

.main-slider {
  .right {
    display: flex;
    align-items: center;
    background: #1a1a1a;
    color: #fff !important;

    h2 a {
      color: #fff !important;
      text-decoration: none;
    }
    .section {
      width: 100%;
    }
  }

  .carousel-inner {
    min-height: 300px;
  }
  .carousel-item {
    overflow: hidden;
    img {
      aspect-ratio: 2 / 1.3;
      object-fit: contain;
      padding: 1rem;
      @media screen and (max-width: 960px) {
        aspect-ratio: 2/ 1;
      }
    }
  }
  span.rating {
    font-size: 27px;
  }
}

.carousel-indicators {
  justify-content: right;
  margin-right: 3rem;
  @media screen and (max-width: 960px) {
    justify-content: center;
    margin-right: 0;
  }
}

.carousel-control-next,
.carousel-control-prev {
  @media screen and (max-width: 768px) {
    // display: none;
  }
}
