.navbar-nav {
  @media screen and (max-width: 991px) {
    width: 100%;
    width: 100%;
    background: #000;
    position: absolute;
    top: 80px;
    z-index: 300;
    left: 0;
    text-align: center;
  }
}

.serchbox {
  max-width: 768px;
  padding-right: 1rem;
}

.cart-wraper {
  position: relative;
  .count {
    position: absolute;
    top: -17px;
    left: -2px;
    //background: rgba(0, 0, 0, 0.6);
    width: 20px;
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 1px;
    border: 1px solid;
    transform: rotate(-45deg);
  }
}
