.navbar-nav {
  @media screen and (max-width: 991px) {
    width: 100%;
    width: 100%;
    background: #000;
    position: absolute;
    top: 80px;
    z-index: 300;
    left: 0;
    text-align: center;
  }
}

.serchbox {
  max-width: 768px;
  padding-right: 1rem;
}

.cart-wraper {
  position: relative;
  .count {
    position: absolute;
    top: -21px;
    left: 0px;
    width: auto;
    height: 18px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 1px;
    border: 1px solid;
    transform: rotate(-45deg);
    font-size: 10px;
    min-width: 17px;
    padding: 2px;
  }
}
